<nav>
    <!-- <a mat-raised-button id="linkMotocicleta" routerLink="./" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Motocicleta</a> -->
    <a mat-raised-button id="linkCrearMotocicleta" routerLink="./crear" routerLinkActive="active">Crear motocicleta</a>
    <a mat-raised-button id="linkListarMotocicleta" routerLink="./listar" routerLinkActive="active">Listar motocicletas</a>
    <a mat-raised-button id="linkBuscarMotocicleta" routerLink="./buscar" routerLinkActive="active">Buscar motocicletas</a>
</nav>
<router-outlet></router-outlet>