<br>
<h2 class="center">Generar venta</h2>

<form [formGroup]="ventaForm" class="center">
  <table>
    <tr><td>
      <mat-form-field>
        <mat-label>Placa</mat-label>
        <input matInput id="placaMotocicletaVenta" name="placaMotocicleta"style="text-transform:uppercase;"
        formControlName="placa" required type="text" placeholder="Ejm: DHU43B">
      </mat-form-field>
      <mat-error>{{getError('placa')}}</mat-error>
    </td></tr>

    <tr><td>
      <mat-form-field>
        <mat-label>Cedula cliente</mat-label>
        <input matInput id="clienteVenta" name="cliente" placeholder="Ejm: 98765789" 
        formControlName="clienteInput" required type="number">
      </mat-form-field>
      <mat-error>{{getError('clienteInput')}}</mat-error>
    </td></tr>
  </table>
</form>

<ng-container *ngIf="!ventaForm.invalid;else groupInvalid">
  <button mat-raised-button type="submit" (click)="guardar()" color="primary" class="center-button" id="guardarVentaBoton">Guardar</button>
</ng-container>
<ng-template #groupInvalid>
  <button mat-raised-button disabled class="center-button">Guardar</button>
</ng-template>
<br>