<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <br>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input matInput id="clienteVentaDetalle" name="clienteVenta" value="{{cliente}}"
      required type="text" disabled>
    </mat-form-field>
  <form [formGroup]="ventaForm">
    <table>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Fecha de la venta</mat-label>
                    <input matInput id="fechaVenta" name="fechaVenta"
                    formControlName="fecha" required type="text">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Fecha de entrega motocicleta</mat-label>
                    <input matInput id="fechaEntregaVenta" name="fechaEntregaVenta"
                    formControlName="fechaEntrega" required type="text">
                </mat-form-field>
            </td>
        </tr>
      <tr><td>
        <mat-form-field>
          <mat-label>Placa</mat-label>
          <input matInput id="placaMotocicletaDetalle" name="placaMotocicleta"
          formControlName="placa" required type="text">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <input matInput id="marcaMotocicletaDetalle" name="marca"
          formControlName="marca" required type="text">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Modelo</mat-label>
          <input matInput id="modeloMotocicletaDetalle" name="modelo" 
          formControlName="modelo" required type="text">
        </mat-form-field>
      </td></tr>
  
      <tr><td>
        <mat-form-field>
          <mat-label>Color</mat-label>
          <input matInput id="colorMotocicletaDetalle" name="color" placeholder="Ejm: Azul" 
          formControlName="color" required type="text">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Precio</mat-label>
          <input matInput id="precioMotocicletaDetalle" name="precio" placeholder="Ejm: 15000000" 
          formControlName="precio" required type="number" min="1000">
        </mat-form-field>
      </td></tr>
    </table>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close (click)="onNoClick()" cdkFocusInitial type="reset">Regresar</button>
</mat-dialog-actions>